<% if page.current? %>
  <li class='active'>
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'btn btn-primary btn-sm' %>
  </li>
<% else %>
  <li class='pagination-item'>
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'btn btn-secondary btn-sm' %>
  </li>
<% end %>