<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
  <strong>Author:</strong>
  <% if current_author.present?%>
    <%= post.author.name %>
  <% else %>
    Unknown author
  <% end %>
</p>


  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

</div>
