<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="mb-4">New post</h1>
      <%= render "form", post: @post %>
      <div class="mt-5">
        <%= link_to "Back to posts", posts_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>